
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  background-color: #d0d0d07a; 
  color: #222;
}


.container {
  max-width: 1100px;
  margin: 20px auto;
  background-color: rgb(216, 34, 34);
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.15);
  overflow: hidden; 
}


main {
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
  background-color: rgb(255, 255, 255);
}


header {
  background-image: url('https://cdn1.sportngin.com/attachments/call_to_action/e349-190383150/DSC01633-153_large.jpg');
  background-size: cover;
  background-position: center ;
  opacity: 90;

  color: white;
  text-align: center;
  padding: 3rem 1rem;
}

header h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: #fef8d9;
  filter:drop-shadow(10px 2px 8px rgb(0, 0, 0));
}

header p {
  font-style: italic;
  font-size: 1.1rem;
}


nav {
  background-color: #aac347;
}

nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0.5rem 0;
}

nav li {
  margin: 0 1rem;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #ffd700;
}


section {
  padding: 2rem 1.5rem;
  margin: 0;
}

section:nth-of-type(odd) {
  background-color: #f0f4f8;
}

h2 {
  color: #1d46c4;
  margin-top: 0;
}

section:nth-of-type(2) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  justify-items: center;
  background-color: #ededf9;
}

section img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}


button {
  background-color: #004aad;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #00337a;
}


iframe {
  display: block;
  margin: 1rem auto;
  border-radius: 8px;
  max-width: 100%;
}


footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}

footer a {
  color: #ffd700;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}
